extends _layouts/default
block page
	main.container
		.page
			.section.section_page.js-page(style="opacity:1;")
				.inner.primary_blue
					.inner__content
						.header.header_page
							.header-caption
								.header-caption__content
									h3 Подоконники  из мрамора
									p Античный шик
							.slider.slider_page
								.slider__item(style="visibility:inherit;")
									.slider__image(style="transform: matrix(1, 0, 0, 1, 0, 0);")
										.slider__effect-img(style="transform: matrix(1, 0, 0, 1, 0, 0);")
											.slider__img-container(style="background-image:url(images/product13.jpg);transform: matrix(1, 0, 0, 1, 0, 0);")
								.slider__item
									.slider__image
										.slider__effect-img
											.slider__img-container(style="background-image:url(images/product13.jpg);transform: matrix(1, 0, 0, 1, 0, 0);")
								.arrows
									.next
										.arrow
									.prev
										.arrow(style="opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0);")
									<svg version="1.1" viewBox="0 0 260 260"><circle cx="130" cy="130" r="120" style="opacity: 1; stroke-dashoffset: 326px;"></circle></svg>
						.area.is-padding-bottom
							.area__item.area__item_md.area__item_empty
							.area__item.area__item_xl.area__item_white
								h3 Преимущества подоконника из мрамора
								p Решившись купить подоконник из мрамора, вы быстро убедитесь в отличных гигиенических и эксплуатационных характеристиках материала. Мрамор хорошо держит форму, достойно противостоит износу, легко очищается от загрязнений, не выцветает и не впитывает влагу. При поверхностном взгляде на подоконники из мрамора цена может показаться завышенной, но в долгосрочной перспективе расходы себя окупают.
								p Ценители античной классики в интерьере охотно заказывают мастерам компании «Гранитъ» изготовление подоконников из мрамора, ни на секунду не сомневаясь в превосходном качестве изделий. Отборное импортное сырье, доверенное высокотехнологичному оборудованию и умелым рукам наших мастеров, наделяет подоконники из мрамора выразительной текстурой и ярким, узнаваемым стилем.
							.form
								.form__header
									h3 Мечтаете о мраморном  подоконнике?
									p Менеджер свяжется с Вами в течение 2 часов для обсуждения подробностей Вашего заказа
								.form__body
									form
										input.input(type="tel",placeholder="+7 XXX XXX XXXX")
										input.button_submit(type="submit",value="Заказать Звонок")
							.area__item.area__item_lg.area__item_brand
								h3.is-text-regular О мраморе
								p Мрамор в переводе с греческого значит «сияющий камень». Древние эллины хорошо знали, как создать комфортную обстановку для жизни и творчества: лучи, отраженные полированной поверхностью мраморных колонн и статуй, стремительно наполняли помещение светом, пробуждающими радость и вдохновение.
								p В наши дни дизайнеры рекомендуют заказать подоконники из мрамора для небольших кухонь, требующих визуального расширения пространства. Ощущение чистоты и свежести, исходящее от светлой поверхности камня, привносит нотки торжественности в будничную обстановку.
							.area__item.area__item_lg.area__item_brand
								h3 Посмотрите наши работы и убедитесь в качестве
								p При разработке эскизов и дизайн -проектов изделий из камня мы стремиммся к тесному взаимодействию с заказчиками, рассматривая подоконники из натурального мрамора как уникальную продукцию, отображающую предпочтения будущего владельца.
								p Наши специалисты помогут вам подобрать самые выигрышные конфигурации изделий для эффектной подачи узора мрамора для конкретного интерьера.
							.area__item.area__item_column.area__item_lg
								.area__item.area__item_empty
								a.area__item.area__item_bg(href="", style="background-image:url(images/product14.jpg);")
									.area__caption #[span Подоконник из Мрамора]
									.overlay-hover(style="opacity: 0;")
									.circle(style="transform: matrix(0, 0, 0, 0, 0, 0);")
								.area__item.area__item_empty
							.area__item.area__item_column.area__item_lg
								.area__item.area__item_empty
								.area__item.area__item_empty
								a.area__item.area__item_bg(href="", style="background-image:url(images/product15.jpg);")
									.area__caption #[span Подоконник из Гранита]
									.overlay-hover(style="opacity: 0;")
									.circle(style="transform: matrix(0, 0, 0, 0, 0, 0);")
							.area__item.area__item_empty
							.area__item.area__item_empty
							.area__item.area__item_empty
							.area__item.area__item_dark
								p Подоконники можно делать не только из мрамора, но и других камней. Например, гранита. Практичная  и изысканная роскошь для вашего дома.
						.area.filter_type.is-padding-bottom
							.area__item.area__item_empty
							.area__item.area__item_light
								h3 Расчет стоимости подоконника
								p Что бы оформить заказ, Вам необходимо сделать три действия
							.area__item.area__item_empty
							.area__item.area__item_empty
							.filter__caption
								span.title Выберите вид камня #[span от 1 до 3-х]
								span.number 1
								.arrows
									.prev
										.arrow
									.next
										.arrow
							.slider.slider_filter
								.slider__item(style="visibility:inherit;")
									input.input-slider#slide1(type="radio", name="slide")
									label.slider__image(for="slide1", style="transform: matrix(1, 0, 0, 1, 0, 0);")
										.slider__img-container(style="background-image:url(images/catalog1.jpg);transform: matrix(1, 0, 0, 1, 0, 0);")
											.area__caption #[span Arabescato ]
								.slider__item(style="visibility:inherit;")
									input.input-slider#slide2(type="radio", name="slide")
									label.slider__image(for="slide2", style="transform: matrix(1, 0, 0, 1, 0, 0);")
										.slider__img-container(style="background-image:url(images/catalog2.jpg);transform: matrix(1, 0, 0, 1, 0, 0);")
											.area__caption #[span Palissandro Bronso Alcontro]
								.slider__item(style="visibility:inherit;")
									input.input-slider#slide3(type="radio", name="slide")
									label.slider__image(for="slide3", style="transform: matrix(1, 0, 0, 1, 0, 0);")
										.slider__img-container(style="background-image:url(images/catalog3.jpg);transform: matrix(1, 0, 0, 1, 0, 0);")
											.area__caption #[span Pirgon]
								.slider__item
									input.input-slider#slide4(type="radio", name="slide")
									label.slider__image(for="slide4")
										.slider__img-container(style="background-image:url(images/catalog4.jpg);")
											.area__caption #[span Pirgon]
							.filter__caption
								span.title Выберите вариант #[span обработки кромки]
								span.number 2
								label
									input.ui-radio.is-any(
									type='radio',
									name="type"
									)
									span.label Любой
							.filter__ceil
								label
									input.ui-radio.is-a(
									type='radio',
									name="type"
									)
									span.label A
								label
									input.ui-radio.is-b(
									type='radio',
									name="type"
									)
									span.label B
								label
									input.ui-radio.is-h(
									type='radio',
									name="type"
									)
									span.label H
								label
									input.ui-radio.is-i(
									type='radio',
									name="type"
									)
									span.label I
							.filter__ceil
								label
									input.ui-radio.is-c(
									type='radio',
									name="type"
									)
									span.label C
								label
									input.ui-radio.is-d(
									type='radio',
									name="type"
									)
									span.label D
								label
									input.ui-radio.is-k(
									type='radio',
									name="type"
									)
									span.label K
								label
									input.ui-radio.is-l(
									type='radio',
									name="type"
									)
									span.label L
							.filter__ceil
								label
									input.ui-radio.is-f(
									type='radio',
									name="type"
									)
									span.label F
								label
									input.ui-radio.is-g(
									type='radio',
									name="type"
									)
									span.label G
								label
									input.ui-radio.is-m(
									type='radio',
									name="type"
									)
									span.label M
								label
									input.ui-radio.is-o(
									type='radio',
									name="type"
									)
									span.label O
							.filter__caption
								span.title Оставьте ваши #[span контакты]
								span.number 3
							.form.form_filter
								.form__header
									h3 Спасибо!
									p Менеджер перезвонит Вам в течение 2 часов на номер +7 981 345 67 89
								.form__body
									form
										input.input(type="tel",placeholder="+7 XXX XXX XXXX")
										input.button_submit(type="submit",value="Заказать Звонок")
						footer.footer.footer_page
							.logo-card(style="opacity: 1;")
								img(src="images/logo.svg", alt="logo")
							.footer-map
								img(src="images/map-bg.jpg", alt="map")
							.footer-logo
								.slider-caption
									h3 Посетите наш офис
									p #[strong В нашем офисном пространстве Вы можете:]
									ul
										li Посмотреть на образцы камня
										li Увидеть примеры наших работ
										li Пообщаться с менеджером
										li Задать любой вопрос
									p  #[strong Или позвоните по телефону:]
									a.phone(href="tel:78124071679") +7 812 407 16 79
								a.back-menu.animated(href="")
									.square-effect
										div(style="transform: matrix(1, 0, 0, 1, 0, 0);")
										div(style="transform: matrix(0, 0, 0, 1, 0, 0);")
									.back-text(style="opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0);") &laquo; Назад в меню
								.social-icons
									ul
										li(style="opacity:1;")
											a.facebook(href="", target="_blank", title="facebook")
												<svg version="1.1" viewBox="0 0 25 25"><circle fill="#27262c" cx="12.5" cy="12.5" r="12.1"></circle><path fill="#FFFFFF" d="M10.7,8.4c0,0.3,0,1.8,0,1.8H9.4v2.3h1.4v6.7h2.8v-6.7h1.9c0,0,0.2-1.1,0.3-2.3c-0.2,0-2.1,0-2.1,0s0-1.3,0-1.5c0-0.2,0.3-0.5,0.6-0.5c0.3,0,0.9,0,1.5,0c0-0.3,0-1.4,0-2.4c-0.8,0-1.7,0-2.1,0C10.7,5.8,10.7,8.1,10.7,8.4z"></path></svg>
												<svg version="1.1" viewBox="0 0 25 25"><circle fill="#27262c" cx="12.5" cy="12.5" r="12.1"></circle><path fill="#FFFFFF" d="M10.7,8.4c0,0.3,0,1.8,0,1.8H9.4v2.3h1.4v6.7h2.8v-6.7h1.9c0,0,0.2-1.1,0.3-2.3c-0.2,0-2.1,0-2.1,0s0-1.3,0-1.5c0-0.2,0.3-0.5,0.6-0.5c0.3,0,0.9,0,1.5,0c0-0.3,0-1.4,0-2.4c-0.8,0-1.7,0-2.1,0C10.7,5.8,10.7,8.1,10.7,8.4z"></path></svg>
										li(style="opacity:1;")
											a.instagram(href="", target="_blank")
												img(src="images/in.png", alt="instagram")
												img(src="images/in.png", alt="instagram")
										li(style="opacity:1;")
											a.vk(href="", target="_blank", title="vk")
												img(src="images/vk.png", alt="vk")
												img(src="images/vk.png", alt="vk")
					//grid
					.grid
						span
						span
						span
						span
						span
						span
						span
						span
						span
						span
						span
		//menu
		include _modules/menu
		//toggle menu button
		.btn-toggle.light(style="opacity: 1;visibility: inherit;")
			svg(version="1.1", viewBox="0 0 64 30")
				rect#square-up(stroke-width="2" stroke-dasharray="25,19" stroke-dashoffset="0" x="2" y="2" width="26" height="17" style="stroke-dashoffset: 0px;")
				line#line-up(x1="11" y1="11" x2="64" y2="11" stroke-width="2" stroke-dasharray="53,30" stroke-dashoffset="0" style="stroke-dashoffset: 0px;")
				line#line-bottom(x1="2" y1="28" x2="36" y2="28" stroke-width="2" stroke-dasharray="25,34" stroke-dashoffset="-9" style="stroke-dashoffset: -9px;")
			span Меню
		//logo text
		.logo-title.light(style="opacity: 1;") Granit Group
